.shopi {
    width: 100%;
}

.products_container {
    margin: 10rem 0;
}

.products_container .product_contant {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    align-items: center;
    justify-content: space-between;
}

.product_contant .product1 {
    margin-top: 3rem;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s ease;
}

.product_contant .product1:hover {
    box-shadow: var(--shadow);

}

.products_container .product-text {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shopi .products_container .product-text h1 {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--Font);
    color: var(--dark-gray);
}

.shopi .products_container .product-text h2 {
    font-size: 14px;
    font-weight: 400;
    font-family: var(--Font);
    color: var(--dark-gray);
}

.shopi .products_container .image3 img {
    border-radius: 10px;
    width: 100%;
}


.shopi .products_container .product-text2 h1 {
    font-size: 18px;
    color: var(--secondary-color);
}

.shopi .products_container .product-text2 .stars .icon {
    margin: 0 3px;
    color: var(--secondary-color);
}

.shopi .nav-line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.shopi .nav-line a {
    padding: 0 1rem;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: var(--dark-gray);
}

.shopi .nav-line a.active {
    padding: 0 1rem;
    color: var(--main-color);
    position: relative;
}

.shopi .nav-line a.active::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    left: 1rem;
    bottom: -10px;
    background: var(--main-color);
}

.product_contant .image3 {
    overflow: hidden;
    position: relative;
}

.product_contant .img_contant {
    position: absolute;
    left: 7%;
    bottom: -15%;
    opacity: 0;
    display: flex;
    border-radius: 10px;
    align-items: center;
    background: var(--w);
    padding: 1rem;
    width: fit-content;
    transition: all 0.7s ease;
}

.product_contant .product1:hover .img_contant {
    opacity: 100%;
    bottom: 6%;
}

.product_contant .img_contant .icon {
    margin: 0 1rem;
    font-size: 15px;
    font-weight: 400;
    color: var(--dark-gray);
    transition: all 0.3s ease;
}

.product_contant .img_contant .icon:hover {
    color: var(--main-color);
}

.products_container .number {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow);
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 10px;
}

.products_container .number h1 {
    font-size: 14px;
    padding: 0.5rem;
    cursor: pointer;
    color: var(--dark-gray);
    transition: all 0.5s ease;
}

.products_container .number h1:hover {
    color: var(--main-color);
}

.products_container .number .icon {
    font-size: 14px;
    color: var(--dark-gray);
    cursor: pointer;
    transition: all 0.5s ease;
}

.products_container .number .icon:hover {
  color: var(--main-color);
}

.products_container .number h1.active {
    color: var(--main-color);
}

.products_container .top-nav {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    box-shadow: var(--shadow);
    border-radius: 10px;
}

.products_container .top-nav h1 {
    font-size: 16px;
    font-weight: 400;
    color: var(--dark-gray);
}

.products_container .top-nav .left h1 {
    transition: all 0.3s ease;
    cursor: pointer;
    padding: 0 1rem ;
}

.products_container .top-nav .left h1:hover {
    color: var(--main-color);
}

.products_container .top-nav .left {
    display: flex;
    align-items: center;
}

.Head-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(../Image/Shopbg.png) no-repeat center center/cover;
}

.Head-text h1 {
    color: var(--w);
    font-size: 60px;
}

.shop-bg {
    background: var(--gray);
}

.shopi .container .btn {
    display: flex;
    align-items: center;
    transform: translateY(-40px);
}

.shopi .container .btn h1, h2 {
   font-size: 20px;
   color: var(--w);
   font-weight: 600;
    padding: 0 .5rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

.shopi .container .btn h1:hover {
    color: var(--secondary-color);
}

@media screen and (max-width:1240px) {

    .products_container .product_contant {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
    }

    .products .products_container .product-text h1 {
        font-size: 14px;
    }
    
}



@media screen and (max-width:924px) {

    .products_container .product_contant {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
    }
    
    
  
  }
  
  @media screen and (max-width:600px) {
  
    .products_container .product_contant {
        grid-template-columns: 1fr ;
    }
    
    .products_container .top-nav {
        padding: 0.5rem 1rem;
        overflow: hidden;
    }    
    
    .products_container .top-nav .right {
        margin-left: 14px;
    }


    .Head-text {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 14vh;
    }
    
    .Head-text h1 {
        color: var(--w);
        font-size: 16px;
    }

    .shopi .container .btn h1, h2 {
        font-size: 13px;
        color: var(--w);
        font-weight: 600;
        padding: 0 0.5rem;
        transition: all 0.3s ease;
        cursor: pointer;
    }

    .shopi .container .btn {
        display: flex;
        align-items: center;
        transform: translateY(-28px);
    }

  }
