footer {
    width: 100%;
    height: 30vh;
    background: var(--gray);
}

.footer_container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    align-items: flex-start;
}

.footer_container .footer_contant h1 {
    font-size: 20px;
    font-weight: 900;
    color: #444;
    padding: 3rem 0 2rem;
    position: relative;
}

.footer_container .footer_contant h1::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    left: 0;
    bottom: 15px;
    background: var(--main-color);
}

.footer_contant .footer-text {
    display: flex;
    margin-top: 1rem;
    gap: 30px;
    align-items: flex-start;
}

.footer_contant .footer-text1 {
    display: grid;
    margin-top: 1rem;
    gap: 15px;

}

.footer_contant .footer-text h2, .footer_contant .footer-text1   h2 {
    font-size: 16px;
    font-weight: 500;
    color: var(--dark-gray);
}

.footer_contant .footer-text a, .footer_contant .footer-text1 a {
    font-size: 16px;
    font-weight: 500;
    color: var(--dark-gray);
    text-decoration: none;
    transition: all 0.3s ease;
}

.footer_contant .footer-text a {
    line-height: 1.5rem;
}

.footer_contant .footer-text1 .icon {
    font-size: 16px;
    color: var(--dark-gray);
    align-items: center;
    margin: 0 .5rem 0 0;
    transform: translateY(3px);
    transition: all 0.3s ease;
}

.footer_contant .footer-text1:hover .icon, .footer_contant .footer-text1:hover a {
  color: var(--main-color);
}

.end {
    display: flex;
    justify-content: space-between;
    margin: 3.5rem 0;
}

.end h1 {
    font-size: 1rem;
    margin-bottom: 1rem;
}



@media screen and (max-width:1240px) {
    
    .footer_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: flex-start;
    }
  
    .footer_container .m-1 {
        margin-left: 3rem;
    }

    footer {
        width: 100%;
        height: 50vh;
        background: var(--gray);
    }

  }
  
  
  @media screen and (max-width:924px) {
  
    .footer_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: flex-start;
        justify-content: space-between;
    }
  
    footer {
        width: 100%;
        height: 60vh;
        background: var(--gray);
    }
  
  }
  
  @media screen and (max-width:600px) {
  
    .footer_container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: flex-start;
    }
    
    footer {
        margin-top: 3rem;
        width: 100%;
        height: 131vh;
        background: var(--gray);
    }
  
    .footer_container .m-1 {
        margin-left: 0 ;
    }

  }
