@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
  --main-color: #C8A165;
  --secondary-color: #C87065;
  --gray: #EFEFEF;
  --w: #fff;
  --dark-gray: #676766;
  --light-gray: #818080;
  --bg: #F3F1EF;
  --bg1: linear-gradient(#F3F1EF, #F3F1EF, #F3F1EF, #EBE7E4);

  --shadow: 0px 5px 25px -1px rgba(189, 189, 189, 0.8);

  --Font: 'Bree Serif', serif;

}

* {

  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  background:  var(--w);
  text-decoration: none;
}

.btn button {
  padding: 14px 32px;
  font-size: 1.1rem;
  font-weight: 500;
  background: transparent;
  border: 1px solid #CCCCCC;
  transition: all 0.3s ease;
  overflow: hidden;
  color: var(--dark-gray);
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  z-index: 999;
}
 
.btn button:hover {
  color: var(--w);
  border-color: transparent;
  z-index: 999;
  
}

.btn button::after {
  content: '';
  position: absolute;
  width: 500px;
  border-radius: 10px;
  height: 500px;
  background: var(--main-color);
  right: 100%;
  top: 0;
  z-index: -1;
  transition: 0.5s;
}

button:hover::after {
  right: 0;
}

.container {
  max-width: 1240px;
  margin: auto;
  height: 100%;
  position: relative;
}

.heading h1 {
  position: relative;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: var(--dark-gray);
}

.heading h1::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  left: 48%;
  bottom: -20px;
  background: var(--secondary-color);
}


.container .btn h1, h2, a {
  text-decoration: none;
}